<div style="width: 50%; top: 50%; left: 50%">
    <h2>Internet market</h2>
    <h5>The best store on the internet</h5>
    <form class="align-middle" ng-submit="tryToAuthWithKeycloak()">

            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                   aria-describedby="inputGroup-sizing-sm">

            <input id="navPasswordField" class="form-control" ng-model="user.password"
                   type="password"
                   aria-describedby="inputGroup-sizing-sm">

            <button  id="navLoginSubmit" class="btn btn-outline-secondary btn-sm"
                    style="margin-left: 50%;" type="submit">SignIn
            </button>

    </form>
</div>